# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.venv/
docker/.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Docker
.dockerignore
docker-compose.override.yml

# other
temp/
